In [1]:
import pandas as pd
from pandas_profiling import ProfileReport
import numpy as np
import os
import logging

def norm_csv_read():

        """ Reading normalized CSV and creating algorithm to get a random parameters recipe and random lot number
    
        Parameters
        ----------
        No parameters

        Returns:
        ----------
        No returns, output a file to hardcoded path
        """

In [14]:
#os.chdir('..')
logging.warning(os.getcwd())
df_norm = pd.read_csv('Datasets/cleaned_cqi_file.csv', sep = ';')
logging.warning('File read successfully')
logging.warning('.')

WARNING:root:c:\Users\BC966HL\OneDrive - EY\4. Mestrado\Dev
WARNING:root:File read successfully
WARNING:root:.

In [17]:
df_norm

,Unnamed: 0,index,ID,SPECIES,ORIGIN_COUNTRY,LOT_NUMBER,ALTITUDE,ALTITUDE_UOM_NN,AROMA,FLAVOR,...,BODY,BALANCE,UNIFORMITY,CLEAN_CUP,SWEETNESS,CUPPER_POINTS,MOISTURE,CATEGORY_ONE_DEFECTS,COLOR,LOT_AVAILABILITY_KG
0,0,0,1,Arabica,Ethiopia,NaN,1950-2200,m,8.67,8.83,...,8.50,8.42,10.00,10.00,10.00,8.75,0.12,0.0,Green,18000.0
1,1,1,2,Arabica,Ethiopia,NaN,1950-2200,m,8.75,8.67,...,8.42,8.42,10.00,10.00,10.00,8.58,0.12,0.0,Green,18000.0
2,2,3,4,Arabica,Ethiopia,NaN,1800-2200,m,8.17,8.58,...,8.50,8.25,10.00,10.00,10.00,8.67,0.11,0.0,Green,19200.0
3,3,4,5,Arabica,Ethiopia,NaN,1950-2200,m,8.25,8.50,...,8.42,8.33,10.00,10.00,10.00,8.58,0.12,0.0,Green,18000.0
4,4,5,6,Arabica,Brazil,NaN,NaN,m,8.58,8.42,...,8.25,8.33,10.00,10.00,10.00,8.33,0.11,0.0,Bluish-Green,3000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
858,858,1314,1307,Arabica,Mexico,NaN,900,m,7.08,6.83,...,7.25,6.75,10.00,0.00,10.00,6.75,0.11,0.0,None,12.0
859,859,1315,1308,Arabica,Haiti,NaN,~350m,m,6.75,6.58,...,7.08,6.67,9.33,6.00,6.00,6.42,0.14,8.0,Blue-Green,2.0
860,860,1316,1309,Arabica,Nicaragua,017-053-0211/ 017-053-0212,1100,m,7.25,6.58,...,6.42,6.08,6.00,6.00,6.00,6.17,0.13,1.0,Green,37950.0
861,861,1317,1310,Arabica,Guatemala,NaN,4650,ft,7.50,6.67,...,7.33,6.67,8.00,1.33,1.33,6.67,0.10,0.0,Green,275.0
862,862,1318,1312,Arabica,Honduras,103,1400,m,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.12,0.0,Green,18975.0